<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bglemon.blue.taste.dao.TipsDao">
  <resultMap id="BaseResultMap" type="com.bglemon.blue.taste.domain.Tips">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="union_id" jdbcType="VARCHAR" property="unionId" />
    <result column="text" jdbcType="VARCHAR" property="text" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="ad_id" jdbcType="INTEGER" property="adId" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <resultMap id="MyBase" type="com.bglemon.blue.taste.dto.TipsDTO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="union_id" jdbcType="VARCHAR" property="unionId" />
    <result column="text" jdbcType="VARCHAR" property="text" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="goodsName" jdbcType="VARCHAR" property="goodsName" />
    <result column="goodsKind" jdbcType="VARCHAR" property="goodsKind" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="ad_id" jdbcType="INTEGER" property="adId" />
    <result column="adName" jdbcType="VARCHAR" property="adName" />
    <result column="adType" jdbcType="VARCHAR" property="adType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jan 18 18:22:59 CST 2021.
    -->
    id, union_id, text, goods_id, ad_id, type, create_time
  </sql>

  <select id="getTips" parameterType="com.bglemon.blue.taste.vo.TipsVO" resultMap="MyBase">
    select  t.union_id,t.goods_id,g.name goodsName,g.kind goodsKind,t.ad_id,t.text,t.type,
    a.title adName,a.type adType,t.query_record_id queryRecordId,t.create_time
    from tips t left join goods g on t.goods_id = g.id
    left join ad_info a on t.ad_id = a.id
    <where>
        1 = 1
      <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(unionId)">
        and t.unionId = #{unionId,jdbcType=VARCHAR}
      </if>
      <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(goodsName)">
        and g.name = #{goodsName,jdbcType=VARCHAR}
      </if>
      <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(goodsKind)">
        and g.kind = #{kind,jdbcType=VARCHAR}
      </if>
      <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(adName)">
        and a.title = #{adName,jdbcType=VARCHAR}
      </if>
      <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(adType)">
        and a.type = #{adType,jdbcType=VARCHAR}
      </if>
      <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(createTime)">
        and t.create_time like concat('%',#{createTime,jdbcType=VARCHAR},'%')
      </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jan 18 18:22:59 CST 2021.
    -->
    delete from tips
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.bglemon.blue.taste.domain.Tips" useGeneratedKeys="true">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jan 18 18:22:59 CST 2021.
    -->
    insert into tips (union_id, text, goods_id, 
      ad_id, type, create_time
      )
    values (#{unionId,jdbcType=VARCHAR}, #{text,jdbcType=VARCHAR}, #{goodsId,jdbcType=INTEGER}, 
      #{adId,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.bglemon.blue.taste.domain.Tips" useGeneratedKeys="true">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jan 18 18:22:59 CST 2021.
    -->
    insert into tips
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="unionId != null">
        union_id,
      </if>
      <if test="text != null">
        text,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="adId != null">
        ad_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="unionId != null">
        #{unionId,jdbcType=VARCHAR},
      </if>
      <if test="text != null">
        #{text,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="adId != null">
        #{adId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bglemon.blue.taste.domain.Tips">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jan 18 18:22:59 CST 2021.
    -->
    update tips
    <set>
      <if test="unionId != null">
        union_id = #{unionId,jdbcType=VARCHAR},
      </if>
      <if test="text != null">
        text = #{text,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="adId != null">
        ad_id = #{adId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bglemon.blue.taste.domain.Tips">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jan 18 18:22:59 CST 2021.
    -->
    update tips
    set union_id = #{unionId,jdbcType=VARCHAR},
      text = #{text,jdbcType=VARCHAR},
      goods_id = #{goodsId,jdbcType=INTEGER},
      ad_id = #{adId,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>